.nav {
  background-color: #131921;
  height: 60px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.nav .logos {
  display: inline-block;
  height: 50px;
  width: 128px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.nav .logos:hover {
  border: 1px solid #fff;
  border-radius: 3px;
}

.nav .logo {
  height: 30px;
  width: 95px;
  position: relative;
}

.nav .in {
  color: white;
  position: relative;
  font-size: 14px;
  top: -2px;
}

.nav .location {
  height: 50px;
  width: 163px;
  display: inline-block;
  display: inline-flex;
  margin: 4px 4px 0px 4px;
  position: relative;
}

.nav .location:hover {
  border: 1px solid #fff;
  border-radius: 3px;
}

.nav .location-icon {
  font-size: 22px;
  color: #ffffff;
  position: relative;
  top: 18px;
  height: 22px;
  color: #eaebeb;
}

.select {
  display: inline-block;
  height: 30px;
  margin-top: 10px;
}

.hello {
  height: 14px;
  width: 127px;
  font-size: 12px;
  color: #cccccc;
  display: block;
}

.address {
  height: 16px;
  width: 135px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  display: block;
  position: relative;
}

.nav .search-container {
  width: 565px;
  height: 60px;
  display: inline-flex;
  position: relative;
  align-items: center;
  left: 8px;
}

.search-container input {
  height: 36.8px;
  width: 422px;
  position: relative;
  top: 0.5px;
  /* left: -1px; */
  border-radius: 0px;
  border-style: none;
  pointer-events: all;
}

.search-container input:focus {
  outline: 0;
}

.my_dropdown {
  height: 40px;
  width: 100px;
  font-size: 12px;
  background-color: #f3f3f3;
  overflow-y: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  left: 1px;
  top: 0.5px;
}

select:focus#my_dropdown {
  width: 100px;
  outline: 0;
  border: 3px solid orange;
  height: 45px;
}

.search-container #search::placeholder {
  font-size: 16px;
  position: relative;
  left: 10px;
}

select:hover {
  opacity: 0.9;
}

select option {
  background-color: white;
  font-size: 15px;
}

.search-container .search-background {
  height: 39px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -1px;
  top: 0.5px;
  background-color: #febd69;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-background:hover {
  background-color: orange;
}

.search-container input:focus ~ .for-hover {
  position: absolute;
  border: 3px solid orange;
  top: 9px;
  height: 38px;
  width: 561px;
  border-radius: 6px;
}

.search-container input:focus-within .for-hover {
  border: 3px solid orange;
}
.tool-bar {
  height: 60px;
  width: 405px;
  /* background-color: #cccccc; */
  position: relative;
  /* position: absolute; */
  left: 23px;
  align-items: center;
  display: inline-flex;
}

.tool-bar .language-link {
  height: 50px;
  width: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  top: 5px;
}

.tool-bar .language-link:hover {
  border: 1px solid white;
  border-radius: 3px;
}

.language-link .nav-line-1 {
  height: 33px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-link .nav-line-2 {
  width: 54px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-img img {
  width: 21px;
  height: 16px;
}

.lang-type {
  height: 15px;
  width: 18px;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  color: white;
  position: relative;
  left: 4px;
}

.nav-arrow {
  font-size: 18px;
  color: #cccccc;
  position: relative;
  left: 2px;
}

.show-lang-list {
  width: 240px;
  height: 386px;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  left: 880px;
  top: 52px;
  background-color: #ffffff;
  z-index: 2;
}

.eng-lang {
  height: 21px;
  width: 210px;
  padding: 34px 14px 7px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #cccccc;
  border-width: 50%;
}

.disclaimer{
  height: 100px;
  width: 240px;
  text-align: center;
  position: relative;
  top: 30px;
}

.learn-more{
  text-decoration: none;
  text-align: center;
  color: #0066c0;
  font-size: 16px;
}

.en {
  cursor: pointer;
}

.radio-icon {
  font-size: 20px;
  position: relative;
  right: 5px;
  color: orange;
}

.eng-lang .en:hover {
  color: orange;
  text-decoration: underline;
}

.learn-more:hover{
  text-decoration:orange underline;
}

.details{
  position: relative;
  font-size: 14px;
  text-align: center;
  top: 130px;
}

.details img{
  height: 16px;
  width: 21px;
}

.profile,
.profile-link{
  width: 131px;
  height: 50px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  left: 3px;
}

.profile-link:hover{
  border: 1px solid white;
  border-radius: 3px;
}

.profile-link .sign-in{
  height: 14px;
  width: 71px;
  font-size: 12px;
  display: block;
  position: relative;
  top: 12px;
  color: #cccccc;
  left: 5px;
}

.profile-link .acc-list{
  height: 15px;
  width: 113px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 2px;
  left: 5px;
}

.nav-arrow-acc{
  top: 3px;
  left: 2px;
}

.return-order{
  height: 50px;
  width: 78px;
  display: block;
  text-decoration: none;
  color: white;
  position: relative;
  left: 8px;
}

.return-order:hover{
  border: 1px solid white;
  border-radius: 3px;
}

.return-order .return{
  height: 14px;
  width: 60px;
  font-size: 12px;
  display: block;
  position: relative;
  top: 12px;
  color: #cccccc;
  left: 8px;
}

.return-order .order{
   height: 15px;
  width: 60px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 2px;
  left: 8px;

}

.nav-cart{
  height: 50px;
  width: 84px;
  display: flex;
  justify-content: center;
  position: relative;
  left: 10px;
  color: white;
  text-decoration: none;
}

.nav-cart:hover{
  border: 1px solid white;
  border-radius: 3px;
}

.nav-cart .cart-icon{
  height: 28px;
  width: 41px;
  display: block;
  position: relative;
  font-size: 43px;
  top: 10px;
}

.nav-cart .cart-items{
  position: absolute;
  font-size: 17px;
  height: 16px;
  width: 19px;
  left: 25px;
  top: -1px;
  color: orange;
}

.nav-cart .name-cart{
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 26px;
  left: 2px;
}

.show-acc{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 417px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  left: 710px;
  top: 55px;
  border-radius: 5px;
  overflow: hidden;
}

.inner-container{
  width: 460px;
  height: 394px;
}

.nav-acc-signin{
  width: 460px;
  height: 63px;
  display: flex;
  justify-content: center;
}

.nav-acc-new-signin{
  width: 220px;
  height: 54px;
  padding-top: 5px;
}

.nav-signin{
  width: 100%;
  height: 30px;
  font-size: 13px;
  display: flex;
  align-items: center;
  background-color: #fe1;
  border-radius: 5px;
  justify-content: center;
}

.new-user-signin{
  font-size: 11px;
  width: 100%;
  height: 14px;
  text-align: center;
  position: relative;
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.new-user-signin a{
  text-decoration: none;
  color: #0055aa;
}

.new-user-signin a:hover{
  color: orange;
  text-decoration: orange underline;
}

.left-content,
.right-content{
  width: 230px;
  height: 300px;
  position: relative;
  top: 15px;
  display: inline-block;
}

.right-content{
  border-left: 1px solid #ccc;
  position: absolute;
  top: 90px;
}

.your-list,
.your-account{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-left: 10px;
  padding-bottom: 13px;
}

.your-account{
  padding-left: 25px;
}

.your-account-link{
  position: relative;
  left: 15px;
}

.your-list-link{
  display: block;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 13px;
  color: #444;
}
